.catalog {
  padding: 220px 0 130px;
  background-color: $color-light;

  @media (max-width: $tablet-max) {
    padding: 210px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 180px 0;
  }
}

.catalog-inner {
  @include inner;
}

.catalog-title {
  margin-bottom: 77px;
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: $color-dark;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

.catalog-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  list-style-type: none;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    justify-content: flex-start;
    overflow: auto;
  }

  li {
    margin: 0 25px;

    @media (max-width: $mobile-max) {
      margin-bottom: 20px;
    }
  }

  a {
    font-family: $font;
    font-weight: 600;
    color: $color-dark;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    &.active {
      color: $color-bright;
    }
  }
}

