.footer {
  padding: 31px 0;
  background-color: $color-dark;
}

.footer-inner {
  @include inner;
  text-align: left;
}

.footer-wrap {
  display: flex;
  align-items: center;
}

.main-logo-footer {
  @include main-logo;
}

.phone {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: $color-light;
  text-decoration: none;
}

.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 60px;
}

.social-item {
  margin: 0;
  margin-left: 15px;
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
}
