.form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.form-field {
  flex-basis: 33.33%;
  padding-left: $gap-half;
  padding-right: $gap-half;
  text-align: left;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
    &.form-field-tablet {
      width: 100%;
      flex-basis: 100%;
    }
  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

.form-input {
  width: 100%;
  padding: 35px 30px;
  height: 104px;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: $color-dark;
  border: none;
  border-radius: 6px;
  background-color: $color-light;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}


