.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: $color-dark;
}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.menu {
  @media (max-width: $mobile-max) {
    display: none;
  }
}

.burger {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
  }
}
