.main-logo {
  padding: 16px 0;
  margin-right: auto;
  font-family: $font;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  text-decoration: none;
  color: $color-light;

  @media (max-width: $tablet-max) {
    padding: 20px 0;
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }

  &.main-logo-footer {
    padding: 0;

    @media (max-width: $mobile-max) {
      margin: 0 auto;
      font-size: 36px;
      line-height: 49px;
    }
  }
}
