.menu {
  ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin: 0 30px;
  }

  a {
    color: #fff;
    font-family: $font;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

