.menu {
  @media (max-width: $mobile-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 25px 0;
    background-color: $color-dark;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    @media (max-width: $mobile-max) {
      display: block;
      text-align: center;
    }
  }

  li {
    margin: 0 2px;

    @media (max-width: $mobile-max) {
      margin-bottom: 10px;
    }
  }

  a {
    display: block;
    padding: 35px 25px;
    color: #fff;
    font-family: $font;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;

    @media (max-width: $mobile-max) {
      padding: 10px 25px;
    }

    &.menu-active {
      background-color: $color-bright;
    }
  }
}

