.reviews {
  padding: 220px 0 130px;

  @media (max-width: $tablet-max) {
    padding: 120px 0 50px;
  }
}

.reviews-inner {
  @include inner;
}

.reviews-title {
  @include section-title;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
}

.reviews-item {
  flex-basis: 100%;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-max) {
    display: block;
  }
}

.reviews-content {
  flex-grow: 1;
  margin-left: 24px;
  color: $color-dark;
  text-align: left;
}

.reviews-name {
  display: block;
  margin-bottom: 40px;
  font-family: $font;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;

  @media (max-width: $tablet-max) {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 25px;
  }
}

.reviews-quote {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;

  @media (max-width: $tablet-max) {
    font-size: 16px;
    line-height: 25px;
  }
}

.reviews-img-wrap {
  flex-shrink: 0;
  width: 304px;
  height: 304px;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: $tablet-max) {
    width: 150px;
    height: 150px;
  }
}

// Карусель
.reviews-list {
  padding: 0 188px;

  @media (max-width: $tablet-max) {
    padding: 0 100px;
  }

  @media (max-width: $mobile-max) {
    padding: 0 50px;
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;

    @media (max-width: $tablet-max) {
      width: 35px;
      height: 35px;
    }
  }

  .slick-prev {
    background-image: url('prev.jpg');
    left: 0;
    font-size: 0;
  }

  .slick-next {
    right: 0;
    font-size: 0;
  }
}

